
@font-face {
    font-family: 'Lisu_Bosa';
    src: url('./fonts/Lisu_Bosa/LisuBosa-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cormorant_Garamond';
    src: url('./fonts/Cormorant_Garamond/static/CormorantGaramond-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cinzel_Decorative';
    src: url('./fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DM_Serif_Display';
    src: url('./fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* body {
    background-image: url('/public/pics/registerBg.jpg');
} */
.hero_button {
    z-index: 1;
}
/* =================================== register =================================== */
.register_page_heading{
    font-size: 2.4rem;
    font-family: 'DM_Serif_Display', serif;
    margin:  0 0 2.5rem 0;
    text-align: center;
    letter-spacing: 0.2ch;
}
.register_page_subheading{
    font-size: 0.9rem;
    font-family: 'Cinzel_Decorative', serif;
    margin:  0 0 2.5rem 0;
    margin-top: 5px;
    text-align: center;
    letter-spacing: -0.1ch !important;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
   
}
.register_btn_box{
    z-index: 1;
}
.register_button{
    all: unset;
    width: 345.34px;
    height: 76.135px;
    font-family: 'Cormorant_Garamond', serif;
    padding-left: 9px;
    /* flex-shrink: 0; */
    background-image: url("/assets/register_button_bac.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: border-box;
    background-position: center;
    /* fill: #000; */
    filter: drop-shadow(0px 0px 0px #ffffff);

    /* color: var(--Color-Primary500, #50FF00); */
    /* color: #ffdd00; */
    text-align: center;
    padding-top: 5px;

    /* SF/SF - 36 REG */
    /* font-family: "SF Ironsides"; */
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    transition: all ease 0.2s;
    cursor: pointer;
   
}
.register_button_small{
    width: 191.315px;
    height: 62.963px;
    font-size: 28px;
    filter: drop-shadow(0px -2.996px 2.996px #f2e279);
}

.register_button:hover{
    filter: drop-shadow(0px -3.623px 3.623px #f2e279);
    /* color: #f2e279; */
    transform: scale(97%);
}
.register_button:active{
    filter: drop-shadow(1px 1px 1px f2e279);
}
.sexy_button {
    /* USE TAILWIND I struggle to name classes :) */
    all: unset;
    width: 191.338px;
    height: 63.135px;

    /* flex-shrink: 0; */
    background-image: url('/pics/Subtract.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: border-box;
    background-position: center;
    fill: #000;
    filter: drop-shadow(0px -3.623px 3.623px #55a826);

    color: var(--Color-Primary500, #50ff00);
    text-align: center;

    /* SF/SF - 36 REG */
    font-family: 'SF Ironside';
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    cursor: pointer;
}
.sexy_button_small {
    width: 191.315px;
    height: 62.963px;
    font-size: 28px;
    filter: drop-shadow(0px -2.996px 2.996px #55a826);
}
/* .sexy_button:focus{
    filter: drop-shadow(0px -1px 1px white);
} */
.sexy_button:hover {
    filter: drop-shadow(0px -3.623px 3.623px #03fa24);
    color: var(--Color-Primary500, #00ff26);
}
.sexy_button:active {
    filter: drop-shadow(1px 1px 1px white);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 60px 20px;
    width: 100%;
    font-family: 'Lisu_Bosa', serif;
    background-image: url('/assets/register_new_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* .container_login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 65px 0px 0px 0px;
    padding: 0px 20px;
    width: 100%;
} */
.container_login {
    font-family: 'Poppins', sans-serif;
    background-image: url('/assets/login_new.png');
    background-repeat: no-repeat; /* Prevents duplication */
    background-size: cover; /* Ensures the image stretches to cover the entire page */
    /* background-image: url("/bg.png"); */
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c342 C 57.6%2c301 172.8%2c119.4 288%2c137 C 403.2%2c154.6 460.8%2c427.4 576%2c430 C 691.2%2c432.6 748.8%2c160.8 864%2c150 C 979.2%2c139.2 1036.8%2c374.2 1152%2c376 C 1267.2%2c377.8 1382.4%2c202.4 1440%2c159L1440 560L0 560z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c138 C 72%2c195.2 216%2c408 360%2c424 C 504%2c440 576%2c203.6 720%2c218 C 864%2c232.4 936%2c538.4 1080%2c496 C 1224%2c453.6 1368%2c104 1440%2c6L1440 560L0 560z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1014%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c342 C 57.6%2c301 172.8%2c119.4 288%2c137 C 403.2%2c154.6 460.8%2c427.4 576%2c430 C 691.2%2c432.6 748.8%2c160.8 864%2c150 C 979.2%2c139.2 1036.8%2c374.2 1152%2c376 C 1267.2%2c377.8 1382.4%2c202.4 1440%2c159L1440 560L0 560z' fill='rgba(24%2c 74%2c 126%2c 0.36)'%3e%3c/path%3e%3cpath d='M 0%2c138 C 72%2c195.2 216%2c408 360%2c424 C 504%2c440 576%2c203.6 720%2c218 C 864%2c232.4 936%2c538.4 1080%2c496 C 1224%2c453.6 1368%2c104 1440%2c6L1440 560L0 560z' fill='rgba(34%2c 100%2c 171%2c 0.55)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1014'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */

    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(56%2c 3%2c 154%2c 0.43)'%3e%3c/rect%3e%3cpath d='M 0%2c342 C 57.6%2c301 172.8%2c119.4 288%2c137 C 403.2%2c154.6 460.8%2c427.4 576%2c430 C 691.2%2c432.6 748.8%2c160.8 864%2c150 C 979.2%2c139.2 1036.8%2c374.2 1152%2c376 C 1267.2%2c377.8 1382.4%2c202.4 1440%2c159L1440 560L0 560z' fill='rgba(24%2c 74%2c 126%2c 0.36)'%3e%3c/path%3e%3cpath d='M 0%2c138 C 72%2c195.2 216%2c408 360%2c424 C 504%2c440 576%2c203.6 720%2c218 C 864%2c232.4 936%2c538.4 1080%2c496 C 1224%2c453.6 1368%2c104 1440%2c6L1440 560L0 560z' fill='rgba(34%2c 100%2c 171%2c 0.55)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */

    /* background: linear-gradient(
        to bottom,
        #101664,
        #262a95,
        #3951a9,
        #609fca,
        #7bb5c1
    ); */
    /* background-image: url('/login_register/portal.svg'),
        url('/login_register/bg.svg'); */
    /* 
    background-size: 100%;
    background-position: bottom right, top left; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    /* height: fit-content; */
    min-height: 50vh;
    font-family: 'Lisu_Bosa', serif;
}



.form {
    background: rgba(0, 0, 0, 0.55); /* Reduced opacity for more transparency */
    /* border-radius: 15px; */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    font-family: 'EB Garamond';
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 650px;
    color: #ffffff;
    width: 100%;
    align-items: center;
    padding-block-end: 30px;
    padding-block-start: 60px;
    padding-inline: 50px;
    font-family: 'Lisu_Bosa', serif;
}
.form_login {
    background: rgba(0, 0, 0, 0.75); /* Reduced opacity for more transparency */
    /* border-radius: 15px; */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 550px;
    /* min-height: 60vh; */
    color: #ffffff;
    width: 100%;
    align-items: center;
    padding-block-start: 70px;
    padding-inline: 20px;
    padding-block-end: 30px;
    padding-block-end: 5vh;
    font-family: 'Lisu_Bosa', serif;
  
}
.form_reset {
    background: rgba(0, 0, 0, 0.75); /* Reduced opacity for more transparency */
    /* border-radius: 15px; */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    font-family: 'Lisu_Bosa', serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 550px;
    /* min-height: 60vh; */
    padding-block-end: 70px;
    color: #ffffff;
    width: 100%;
    align-items: center;
    padding-block-start: 100px;
    padding-inline: 50px;
    @media screen and (max-width:600px) {
        padding-block-end: 40px;
    }
}

.mainForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
    padding: 30px 30px 30px 30px;
    background: black;
    width: 37vw;
    font-family: 'Lisu_Bosa', serif;
    /* height: 70vh; */
}

.mainForm label {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Lisu_Bosa', serif;
}

.mainForm a {
    color: #000000;
}

.mainHeading {
    margin-bottom: 1rem;
    margin-top: 5rem;
    text-align: center;
    color: #2b0072;
    font-family: 'EB Garamond';
    font-size: 6vw;
    font-weight: 400;
    left: 4%;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
    width: 100%;
}

.field {
    margin-bottom: 1rem;
    width: 100%;
    font-size: 0.8rem;
    font-family: 'Lisu_Bosa', serif;

}

.field input,
.field select {
    width: 100%;
    height: 55px;
    margin: 2px;
    border: none;
    color: white;
    background: rgb(20, 20, 20);
    padding: 1.5rem 1.2rem;
    font-size: 0.9rem;
    box-sizing: border-box;
    font-family: 'Lisu_Bosa', serif;

}

.field input:focus,
.field select:focus {
    outline: none;
}
.field input::placeholder {
    color: white;
    opacity: 0.5;
    font-size: 0.9rem;
    font-family: 'Lisu_Bosa', serif;

}

.userType {
    width: 25vw;
    height: 45px;
    margin: 2px;
    padding: 2px 15px;
    font-size: 17px;
    background: #eee9ff;
    border: 1px solid #000000;
    border-radius: 5px;
}

.buttonWrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: center;
}

.buttonWrapper button {
    width: 30vw;
    height: 59px;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    background: rgb(96, 0, 197);
    border-radius: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    min-width: 200px;
    border: none;
}

.lottie {
    width: 50%;
    margin-top: 2rem;
    overflow: hidden;
}

.lottie_container {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 50vw;
    height: 80vh;
}

.iitp_email {
    border-radius: 5px 0px 0px 5px !important;
    width: calc(32vw - 96px) !important;
    margin: 0px !important;
    height: 45px;
}

.iitp_email_ext {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    height: 45px;
    font-size: 16px;
    padding: 0 3px 0 5px;
    border-radius: 0px 5px 5px 0px;
}

.terms_box {
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 20px;
    width: 28vw;
}
.passwd_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 0.78vw;
    width: 100%;
}
.fancyButton {
    position: relative;
    display: inline-block;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    margin: 1.2rem 0;
}

.fancyButton img {
    display: block;
    width: 100%;
    height: auto;
    width: 190px;
}

.fancyButton span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(80, 255, 0);
    font-size: 1.5rem;
    font-family: 'SF Ironside';
    text-align: center;
    letter-spacing: 0.15rem;
}

@media only screen and (max-width: 1500px) {
    .mainForm {
        width: 541px;
    }
    .terms_box {
        width: auto;
    }
}

@media only screen and (max-width: 1023px) {
    .mainForm {
        margin-top: 75px;
        margin-bottom: 75px;
        width: 401px;
        padding-left: 18px;
        padding-right: 18px;
        background: black;
    }

  
    .iitp_email_ext {
        font-size: 13px;
    }
    .form_row {
        flex-direction: column;
    }
    .buttonWrapper button {
        width: 345px;
    }

    .iitp_email {
        width: calc(365px - 75px) !important;
    }
    .terms_box {
        width: auto;
    }
}
@media only screen and (max-width: 426px) {
    .mainForm {
        margin: 0px auto;
        width: 90vw;
        max-width: 400px;
        padding: 10px;
        box-sizing: border-box;
    }
    .form {
        padding-inline: 20px;
    }
    
    .row {
        flex-wrap: wrap;
    }

    .iitp_email {
        width: calc(100% - 80px) !important; /* Adjust for internal spacing */
    }
}


/* --------------------- 404 page -------------------------------- */

.dont_loss{
    position: absolute;
    bottom: 200px;
    font-family: 'Cinzel_Decorative', sans-serif;
    color: white;
    font-size: 2.2rem;
    /* font-weight: bold; */  /* Uncomment if needed */
    text-align: center;
    width: 100%;
    @media screen and (max-width: 600px) {
        font-size: 1.2rem;
    }
}

.homepage_btn{
    font-family: 'Cormorant_Garamond', serif;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding: 10px 20px;
    padding-block-start: 14px;
    padding-inline-start: 27px;
}
